body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div{
    padding: 20px;}
#EmailBox{
    margin-left: 23px;
}

.error{
    display: none;
    color: red;
    background-color: rgb(252, 245, 245);
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: -20px;
    width: 200px;
}
#Password{
    margin-top: -15px;
}
.success{
    margin-top: 20px;
}
#Submit{
    margin-top: 10px;
    border: none;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: larger;
    text-align: center;
    width: 20cap;
}
#Submit:hover{
    background-color: rgb(41, 40, 40);
}
#success{
    display: none;
    font-size: 20px;
    color: green;
    margin-top: 20px;
    background-color: rgb(216, 244, 172);
    padding: 20px;
    align-items: center;
    width: 25cap;
    border-radius: 10px;
    text-align: center;

}