body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div{
    padding: 20px;}
#tab{
display: flex;
justify-content: space-between;
}
#blocks{
    display: flex;
    align-items: center;
    align-self: center;
}
#Login, #signUp{
padding: 10px;
background-color: rgba(243, 235, 225,0.2);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgb(243, 235, 225);

border-radius:  20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
text-align: center;
}
#EmailBox,#NameBox{
    margin-left: 23px;
}

.error{
    display: none;
    color: red;
    background-color: rgb(252, 245, 245);
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: -20px;
    width: 200px;
}
#Password,#Email{
    margin-top: -15px;
}
.success{
    margin-top: 20px;
}
#ask{
    margin: -10px;
}
#Submit{
    margin-top: 10px;
    border: none;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: larger;
    text-align: center;
    width: 20cap;
}
#Submit:hover{
    background-color: rgb(41, 40, 40);
}
#success{
    display: none;
    font-size: 20px;
    color: green;
    margin-top: 20px;
    background-color: rgb(216, 244, 172);
    padding: 20px;
    align-items: center;
    width: 25cap;
    border-radius: 10px;
    text-align: center;

}